* {
  margin: 0;
}
body {
  box-sizing: border-box;
  position: relative;
  background-color: whitesmoke;
  font-family: Roboto, Arial;
}
.homeNav {
  display: flex;
  background-color: rgb(241, 228, 241);
  align-items: center;
  height: 50px;
  border-bottom: 1px solid grey;
}
.hamburgerIcon {
  position: relative;
  margin-left: 25px;
}
.hamburgerIcon,
.hamburgerIcon::before,
.hamburgerIcon::after {
  width: 20px;
  height: 3px;
  background-color: black;
}
.hamburgerIcon::before,
.hamburgerIcon::after {
  position: absolute;
  content: "";
  left: 0px;
}
.hamburgerIcon::after {
  top: 6px;
}
.hamburgerIcon::before {
  top: -6px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  flex-basis: 50%;
  flex-grow: 2;
}
.icon {
  margin-right: 25px;
}
.closeSideBar {
  font-weight: 600;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid grey;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a .hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}
.sidebar {
  filter: drop-shadow(1px 0px 3px #3d3d3d);
  position: absolute;
  z-index: 4;
  top: 0;
  left: -250px;
  background-color: rgb(235, 207, 233);
  border-right: 1px solid rgb(230, 206, 250);
  width: 250px;
  height: 100vh;
}
.navOption {
  background-color: rgb(236, 200, 222);
  border-bottom: 1px solid rgb(211, 179, 200);
}

/*   START GABRYSIAK WORK SECTION    */

.workHeader {
  text-align: center;
  margin: 20px;
}
.workWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.workContainer {
  height: 100vh;
  max-width: 414px;
}
.workPic {
  padding-top: 55px;
  width: 100%;
}
footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.imageContainer {
  display: flex;
}
/* titles and Headings */

.titleHeading {
  margin-top: 20px;
}
.titleHeading b {
  font-size: large;
}
.bookTitle {
  margin-top: 20px;
}

/* start book section */
.columnOfBooks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(252, 252, 246);
}

.book {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain, cover;
  width: 95%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(83, 83, 83);
  background-color: rgb(177, 177, 177);
  width: 300px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  margin: 20px;
}
.bookBtns {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 35px;
  flex-basis: 50%;
  height: 55px;
  border-top: 1px solid rgb(83, 83, 83);
  background-color: rgb(228, 228, 228);
  color: rgb(173, 173, 173);
}
.firstBook {
  background-image: url("bookWebIMG/demon/IMG_1129.jpg");
}
.secondBook {
  background-image: url("bookWebIMG/pinched/IMG_1059.jpg");
}
.thirdBook {
  background-image: url("bookWebIMG/death/IMG_988.jpg");
}
/* button styling */

.button-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(247, 175, 175);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controlPanel {
  margin-top: 100px;
  min-width: 300px;
  border: solid 1px #433f77;
}
/* canvas */
#canvasOne {
  border: 1px solid red;
  position: absolute;
  background-color: rgba(0, 0, 255, 0);
  z-index: 2;
}
/* bplay image */
.bPlay-pic {
  background-image: url("bplayWeb.jpg");

  background-size: contain, cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 215px;
}
.button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 229, 144);
  justify-content: space-around;
  z-index: 2;
  outline-color: rgb(245, 29, 29);
}
.second-button-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 80px;
  background-color: rgb(255, 213, 77);
  justify-content: space-evenly;
  z-index: 2;
  margin: 45px;
  border: 1px solid purple;
}
.bButton {
  background-color: rgb(158, 186, 247);
  border: 10px solid #dd4d95;
  border-radius: 20px;
  display: inline-block;
  margin: 2px 2px;
  padding: 5px;
  position: relative;
  left: 30px;
  filter: drop-shadow(1px 5px 1px #3d3d3d);
  outline: none;
}
.bButton:focus {
  transform: translateY(2px);
  filter: drop-shadow(1px 2px 0px #3d3d3d);
}
