* {
  margin: 0;
}
body {
  box-sizing: border-box;
  position: relative;
  background-color: whitesmoke;
  font-family: Roboto, Arial;
}
.homeNav {
  display: flex;
  background-color: rgb(241, 228, 241);
  align-items: center;
  height: 50px;
  border-bottom: 1px solid grey;
  align-content: space-around;
}
.hamburgerIcon {
  display: flex;
  flex-basis: 15%;

  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  flex-basis: 50%;
  flex-grow: 2;
}
.icon {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  margin: 20px;
}
.sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  background-color: aqua;
  width: 250px;
  height: 100vh;
}

/*   START GABRYSIAK WORK SECTION    */

.workHeader {
  text-align: center;
  margin: 20px;
}
.workWrapper {
  display: flex;
  justify-content: center;
}
.workContainer {
  height: 100vh;
  max-width: 414px;
}
.workPic {
  padding-top: 55px;
  width: 100%;
}
footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.imageContainer {
  display: flex;
}
