* {
  margin: 0;
}
body {
  box-sizing: border-box;
  position: relative;
  background-color: whitesmoke;
  font-family: Roboto, Arial;
}
.homeNav {
  display: flex;
  background-color: rgb(241, 228, 241);
  align-items: center;
  height: 50px;
  border-bottom: 1px solid grey;
}
.hamburgerIcon {
  position: relative;
  margin-left: 25px;
}
.hamburgerIcon,
.hamburgerIcon::before,
.hamburgerIcon::after {
  width: 20px;
  height: 3px;
  background-color: black;
}
.hamburgerIcon::before,
.hamburgerIcon::after {
  position: absolute;
  content: "";
  left: 0px;
}
.hamburgerIcon::after {
  top: 6px;
}
.hamburgerIcon::before {
  top: -6px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  flex-basis: 50%;
  flex-grow: 2;
}
.icon {
  margin-right: 25px;
}
.closeSideBar {
  font-weight: 600;
  margin-left: 30px;
  margin-top: 18px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  font-size: 20px;
  margin: 40px;
}
.sidebar {
  filter: drop-shadow(1px 0px 3px #3d3d3d);
  position: absolute;
  top: 0;
  left: -250px;
  background-color: rgb(217, 205, 219);
  width: 250px;
  height: 100vh;
}

/*   START GABRYSIAK WORK SECTION    */

.workHeader {
  text-align: center;
  margin: 20px;
}
.workWrapper {
  display: flex;
  justify-content: center;
}
.workContainer {
  height: 100vh;
  max-width: 414px;
}
.workPic {
  padding-top: 55px;
  width: 100%;
}
footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.imageContainer {
  display: flex;
}

/* start book section */

.columnOfBooks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(252, 252, 246);
}

.book {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain, cover;
  width: 95%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(83, 83, 83);
  background-color: rgb(177, 177, 177);
  width: 300px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  margin: 50px;
}
.bookBtns {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 35px;
  flex-basis: 50%;
  height: 55px;
  border-top: 1px solid rgb(83, 83, 83);
  background-color: rgb(228, 228, 228);
  color: rgb(173, 173, 173);
}
.firstBook {
  background-image: url("bookWebIMG/demon/IMG_1129.jpg");
}
.secondBook {
  background-image: url("bookWebIMG/pinched/IMG_1059.jpg");
}
.thirdBook {
  background-image: url("bookWebIMG/death/IMG_988.jpg");
}
